@media (max-width: 768px) {
    table {
        display: block;
        width: 100%;
        overflow-x: auto;
        white-space: nowrap;
    }


    .buttons-container button {
        width: 100%;
        padding: 8px;
        font-size: 14px;
        margin-bottom: 5px;
    }


    h1, h2, h3 {
        font-size: 20px;
    }


    td, th {
        padding: 5px;
        font-size: 14px;
    }
}
